<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="BoardDTO" type="kr.co.jisu.domain.BoardDTO"/>
		<typeAlias alias="ReplyDTO" type="kr.co.jisu.domain.ReplyDTO"/>
		<typeAlias alias="UserDTO" type="kr.co.jisu.domain.UserDTO"/>

	</typeAliases>
</configuration>